@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Muthiara';
  src: url('/fonts/Muthiara.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}   

body {
  font-family: 'Muthiara', sans-serif;
}